/* Estilos gerais */
.formulario-contact {
    align-items: center;
    width: 50%;
    margin: 5% 0;
    border-radius: 8px;
    background-color: #6c6c6c2d;
    font-family: Arial, sans-serif;
    padding: 5%;
}

/* Estilo para rótulos */
.formulario-contact label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Estilo para campos de entrada de texto */
.formulario-contact input[type="text"],
.formulario-contact input[type="email"],
.formulario-contact input[type="tel"],
.formulario-contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    /* Garante que o padding não aumente a largura total */
}

/* Estilo para o botão de envio */
.formulario-contact input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    width: 90%;
    margin: 0 5%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    transition: background-color 0.3s ease;

}

.formulario-contact input[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilo para o campo de mensagem */
.formulario-contact textarea {
    resize: vertical;
    /* Permite redimensionar verticalmente apenas */
}

/* Estilo para o campo obrigatório */
.formulario-contact input:required,
.formulario-contact textarea:required {
    border-color: #FF6347;
    /* Vermelho coral */
}

/* Estilo para mensagens de erro */
.formulario-contact input:invalid,
.formulario-contact textarea:invalid {
    border-color: #FF6347;
    /* Vermelho coral */
}

/* Estilo para mensagens de sucesso (após o envio) */
.formulario-contact .enviado {
    color: #4CAF50;
    margin-top: 3px;
    text-align: center;
}

.termo {
    color: rgb(179, 195, 248);
    font-size: 9px;
    margin-top: 5px;
    line-height: 20px;
    width: 90%;
}



@media screen and (max-width: 375px) and (min-width: 300px),
(max-width: 430px) {

    .service header{
        margin-top: 2%;
    }
    
    .service header h2{
        font-size: 150%;
    }


    .formulario-contact {
        width: 100%;
        margin: 1% 0;
        ;
        padding: 2.5%;
    }

    .formulario-contact label {
        margin-bottom: 1.5px;
        font-size: 12px;
    }

    .formulario-contact input[type="text"],
    .formulario-contact input[type="email"],
    .formulario-contact input[type="tel"],
    .formulario-contact textarea {
        width: 98%;
        padding: 5px;
        margin-bottom: 5px;
        font-size: 12px;
    }

    .formulario-contact input[type="submit"] {
     
        padding: 5px 7px;
        width: 70%;
        margin: 0 15%;
        font-size: 12px;
    }

    .formulario-contact h4{
        font-size: 110%;
    }

    
.termo {
   
    font-size: 50%;
    line-height: 10px;
    width: 100%;
}

}





@media screen and (max-width:1280px) and (min-width: 768px) {

    .service header{
        margin-top: 2%;
    }
    
    .service header h2{
        font-size: 170%;
    }


    .formulario-contact {
        width: 100%;
        margin: 3% 0;
        padding: 5%;
    }

    .formulario-contact label {
        margin-bottom: 3px;
        font-size: 14px;
    }

    .formulario-contact input[type="text"],
    .formulario-contact input[type="email"],
    .formulario-contact input[type="tel"],
    .formulario-contact textarea {
        width: 98%;
        padding: 5px;
        margin-bottom: 5px;
        font-size: 14px;
    }

    .formulario-contact input[type="submit"] {
     
        padding: 5px 7px;
        width: 80%;
        margin: 0 10%;
        font-size: 14px;
    }

    .formulario-contact h4{
        font-size: 130%;
    }

    
.termo {
   
    font-size: 57%;
    line-height: 15px;
    width: 100%;
}
}



@media screen and (max-width: 767px) and (min-width: 431px) {

    
    .service header{
        margin-top: 2%;
    }
    
    .service header h2{
        font-size: 150%;
    }


    .formulario-contact {
        width: 90%;
        margin: 3% 0;
        padding: 5%;
    }

    .formulario-contact label {
        margin-bottom: 2px;
        font-size: 13px;
    }

    .formulario-contact input[type="text"],
    .formulario-contact input[type="email"],
    .formulario-contact input[type="tel"],
    .formulario-contact textarea {
        width: 98%;
        padding: 5px;
        margin-bottom: 5px;
        font-size: 13px;
    }

    .formulario-contact input[type="submit"] {
     
        padding: 5px 7px;
        width: 80%;
        margin: 0 10%;
        font-size: 14px;
    }

    .formulario-contact h4{
        font-size: 140%;
    }

    
.termo {
   
    font-size: 60%;
    line-height: 15px;
    width: 100%;
}

}