/* medias screes  */
/* ---------------------------------------------- */
@media screen and (max-width: 1183px) {
  .rodape-sociais h3 {
    font-size: 15px;
  }
}

@media screen and (max-width:973px) {
  .rodape-container {
    height: 300px;
  }

  .rodape-menu ul {
    padding: 0;
    align-items: first baseline;

  }

  .rodape-menu ul li a {
    font-size: 15px;
  }

  .rodape-sociais .redes {
    flex-direction: column;
    border: none;
  }

  .rodape-sociais h3 {
    font-size: 10px;

  }

  .img-footer {
    width: 25%;
    height: 100%;
  }

  .bot {
    height: calc(100% - 46px);
    margin-bottom: 10px;
  }

  .bot-image {
    display: none;
  }

}

@media screen and (max-width: 865px) {


  .menu a {
    text-align: center;
    font-size: 15px;
    flex: 1;
    width: 10%;
  }

  .img-footer {
    display: none;
  }
}


@media screen and (max-width: 730px) {

  .rodape-sociais h3 {
    display: none;
  }

  .rodape-sociais {
    flex-direction: row;
    align-self: flex-end;
  }

  .rodape-sociais .redes {
    flex-direction: row;
  }
}



@media screen and (max-width: 646px) {

  .menu a {
    text-align: center;
    font-size: 12px;
    flex: 1;
    width: 8%;
  }

  .rodape-container .redes img {
    width: 40%;
    margin-left: 10%;

  }

  .rodape-container .redes {
    margin-left: -60%;
  }
}


@media screen and (max-width: 596px) {

  .cabecalho {
    padding:0 auto;
    width: 100%;
  }
  .menu {
    flex-direction: column;
    align-items: center;
    padding: 0; 
    margin: 0; 
  }
  
  .menu a {
    margin-right: 10px; 
    width: 40%;
    margin-left: 200px;
    font-size: 15px;

  }

.menu img{
  display:block;
  position: absolute;
  width: 100px;
  height: 100px;
  top:0;
  left:10%;
}


  
  .menu a:first-child {
    margin-right: auto; 
  
  }

  .service header h2{
    font-size: 20px;
    text-align: center;
  }

  .rodape-menu{
  display:none;
  }

  .rodape-sociais .redes {
    flex-direction: column;
    align-items: center;
    
  }
  .rodape-sociais .redes{
    margin:60% auto;
    
  }

}

@media screen and (max-width: 350px) {


  .rodape-container .redes img {
    width: 100%;
    margin-bottom: 100%;
  
  }

}