                /* Estilo para o corpo da página */
                body {
                    font-family: Arial, sans-serif;
                    margin: 0;
                    padding: 0;
                }

                /* Estilo para o container principal */
                .container {
                    
                    margin: 0 auto;
                    padding: 20px;
                    background-color: #fff;
                   
                }

                /* Estilo para o título */
                .title h1 {
                    color: #333;
                }

                /* Estilo para os parágrafos */
                p {
                    margin-bottom: 15px;
                    line-height: 1.6;
                }

                /* Estilo para as listas */
                .ulisses {
                    margin-bottom: 15px;
                }

       .ulisses li {
                    list-style-type: upper-alpha;
                    color: #343b46;
                   margin-left: 20%;
                }



                /* Estilo para o rodapé */
                footer {
                    background-color: #f4f4f4;
                    padding: 10px 0;
                    text-align: center;
                }

                /* Estilo para o rodapé - texto de copyright */
                footer p {
                    color: #666;
                    font-size: 14px;
                }

                /* Estilo para a seção DPO */
                .infoDPO {
                    background-color: #f9f9f9;
                    padding: 10px;
                    margin-top: 20px;
                }

                /* Estilo para o título da seção DPO */
                .infoDPO h5 {
                    color: #333;
                    font-size: 16px;
                    margin-bottom: 10px;
                }

                /* Estilo para os detalhes de contato na seção DPO */
                .infoDPO p {
                    color: #666;
                    margin-bottom: 5px;
                }