* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;

}

.container {
    background-color: #EFEFEF;
    width: 99vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 1px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    margin: 20px 0;

}

.representaPage {
    width: 150px;
    height: 150px;

}

.imagePage {
    width: 300px;
    height: 50px;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li {
    list-style: none;
    color: #000;
    margin: 10px 2rem;
}

.menu a {
    text-decoration: none;
    font-size: 20px;
}

.provisori {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 100px;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

.provisori img {
    width: 90vw;
    height: 90vh;
display:none;
}

.banner-image {
    width: 98vw;
    height: 400px;
}

.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 15%;
}

.service  .titulo {
    text-align: center;
    font-size: 36px;
    margin:16px 0;
}

.service p {
    padding: 10px;
    line-height: 1.7;
    width: 896px;
    font-size: 20px;
    font-weight: 500;
}

.rodape {
    display: flex;
    flex-direction: row;
    width: 99vw;
    height: 500px;
    border-top: 2px solid #fff;
    background-image: url(./res/fundofooter-min.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imagem-footer img {
    height: 600px;
    height: 500px;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;

}


.adress-footer p {
    position: absolute;
    border:1px solid black;
    margin-top: 40px;
    margin-left: 5%;
    font-size: 20px;
    color: white;
    display:none;

}

.rodape nav {
    display: flex;
    width: 100%;
    margin-top: -100px;
    margin-right: 40%;
}

.groupMenu {
    margin-top: 25%;
    margin-left: 25%;
    padding: 0 5px;
}


.groupMenu li {
    list-style: none;
    margin-bottom: 5px;
    width: 400px;
    margin-bottom: 7%;
    border: 2px solid #ffffff0a;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    transition: all 0.5s;
}

.groupMenu li:hover {
    border: 2px solid #ffffffa2;
    box-shadow: inset 10px -10px 20px rgba(49, 48, 48, 0.297);

}

.groupMenu li a {
    text-decoration: none;
    font-size: 28px;
    color: #232222;
    transition: all 0.5s;
}

.groupMenu li a:hover {
    color: #fff;
}

.formWhats {
    font-family: Arial, sans-serif;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f5f5f5;
}

/* estilo da div bot */

.bot {
    display: flex;
    position: absolute;
    margin-left: 76%;
    margin-top: 160px;

}

.bot span {
    position: absolute;
    font-size: 10px;
    font-weight: 600;
    margin: 5px 5px 0 5px;

}

.bot .bot-image {
    width: 150;
    height: 150px;
    overflow: hidden;
}

/* Estilo do rótulo */
.formWhats label {
    font-weight: bold;
}

/* Estilo da entrada de texto */
.formWhats input[type="text"],
.formWhats textarea {
    width: 100%;
    margin-top: 5px;
    padding: 2px px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilo do botão */
.formWhats input[type="submit"] {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #075e54;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

/* Estilo do botão quando hover */
.formWhats input[type="submit"]:hover {
    background-color: #128c7e;
}

.formWhats input[type="image"] {
    width: 25px;
    height: 25px;
}

/* Estilo do textarea */
.formWhats textarea {
    resize: none;
}

.legal {
    font-size: 10px;
    text-align: center;
    font-weight: 300;
}

.iconesSociais {
    display: flex;
    align-items: flex-end;
    justify-content:left;
    width: 98vw;
    height: 25px;
    position: absolute;
    margin-top: 24%;
}

.iconesSociais img {
    width: 28px;
    height: 28px;  
    margin-left: 30px;
    transition: all 0.6s;
}
.iconesSociais img:hover {
    width: 60px;
    height: 60px;  
   
}

/*  formulario da tela de contatos */
.formulario-contact {
    width: 1000px; /* Ajuste a largura máxima conforme necessário */
    margin: 0 auto;
    padding: 20px;
    background-color: #ffcd5951;
    border-radius: 10px;
    margin-bottom:25px;
   
}

.formulario-contact label {
    font-weight: bold;
    color: #000;
    font-size:22px;
}

.formulario-contact input[type="text"],
.formulario-contact input[type="email"],
.formulario-contact input[type="tel"],
.formulario-contact textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size:20px;
}

.formulario-contact textarea {
    resize: none;
}

.formulario-contact input[type="submit"] {
    width: 50%;
    padding: 10px;
    margin-left:25%;
    font-size:20px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario-contact input[type="submit"]:hover {
    background-color: #fff;
    color: #000;
}
/* tela de clientes */
.container-clientes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.cliente {
   
    text-align: center;
    border-radius: 100%;
}

.cliente .img {
    width: 150px;
    height:150px;
    background-image: url(/res/cliente-min.jpg);
    background-size: cover;
    border:3px solid rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    cursor: pointer;

}

/* Estilo para a pagina de serviços */

#servicos {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#servicos h2 {
    text-align: center;
    color: #333;
}

#servicos ul {
    list-style-type: none;
    padding: 0;
}

#servicos li {
    margin-bottom: 15px;
    padding-left: 20px;
    position: relative;
}

#produtos li::before {
    content: "\2022";
    color: #ff6f61;
    font-weight: bold;
    position: absolute;
    left: 0;
}

#produtos  li:nth-child(even) {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

#produtos li:hover {
    background-color: #e6e6e6;
}

@media screen and (max-width: 768px) {
    #produtos  {
        max-width: 90%;
        margin: 30px auto;
    }
}
